<?xml version="1.0"?>
<ripple xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>storyteller</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Feeds>
    <Feed Url="http://build.fubu-project.org/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="ReleasedOnly" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" />
    <Feed Url="http://packages.nuget.org/v1/FeedService.svc" Mode="Fixed" Stability="ReleasedOnly" />
  </Feeds>
  <Nugets>
    <Dependency Name="FubuMVC.Core" Version="1.0.1.1410" Mode="Fixed" />
    <Dependency Name="FubuTestingSupport" Version="1.0.1.227" Mode="Fixed" />
    <Dependency Name="HtmlTags" Version="1.2.0.150" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="4.5.10" Mode="Fixed" />
    <Dependency Name="NUnit" Version="2.6.2.0" Mode="Fixed" />
    <Dependency Name="nunit.mocks" Version="2.6.2.0" Mode="Float" />
    <Dependency Name="NUnit.Runners" Version="2.6.2" Mode="Float" />
    <Dependency Name="pnunit" Version="2.6.2" Mode="Float" />
    <Dependency Name="RhinoMocks" Version="3.6.1" Mode="Fixed" />
    <Dependency Name="structuremap" Version="2.6.3" Mode="Fixed" />
    <Dependency Name="structuremap.automocking" Version="2.6.3" Mode="Fixed" />
  </Nugets>
  <Groups />
</ripple>